#nav {
  background: linear-gradient(80deg, rgb(13, 226, 229), rgb(239, 32, 104));
}

table {
  border-collapse: collapse;
}
td,
th {
  border: 1px solid rgb(0, 0, 0);
  padding: 8px;
}

.iframe {
  justify-content: center;
}

#footer {
  background: linear-gradient(80deg, rgb(239, 32, 104), rgb(13, 226, 229));
}
